name: docs

on:
  push:
    paths-ignore: 
      - 'docs/**'
    branches:
      - master

jobs:
  docfx:
    runs-on: windows-latest

    steps:
    - run: git config --global user.name ${env:GITHUB_ACTOR}
    - run: git config --global user.email ${env:GITHUB_ACTOR}@users.noreply.github.com

    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_DOCFX }}
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100

    - name: Build with dotnet
      run: dotnet build ./src/ClashOfClans/ClashOfClans.csproj

    - name: Setup DocFX
      run: choco install docfx

    - name: Build with DocFX
      working-directory: docfx
      run: |
        Remove-Item ../docs/ -Recurse
        docfx

    - name: Stage all changes
      run: git add -A

    - name: Update GitHub Pages
      run: |
        git commit -am "Update GitHub Pages"
        git push
