name: tests

on:
  push:
    paths:
      - 'src/ClashOfClans/**'
      - 'src/ClashOfClans.Tests.Unit/**'
    branches:
      - main
      - develop
  pull_request:
    paths:
      - 'src/ClashOfClans/**'
      - 'src/ClashOfClans.Tests.Unit/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Unit Tests
      working-directory: src
      run: dotnet test --filter FullyQualifiedName~ClashOfClans.Tests.Unit
